<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form id="add-cupcake-form">

    <label for="flavor">Flavor</label>
    <input id="flavor" name="flavor">

    <br>

    <label for="size">Size</label>
    <input id="size" name="size">

    <br>

    <label for="rating">Rating</label>
    <input type="number" id="rating" name="rating">

    <br>

    <label for="image_url">Image URL</label>
    <input id="image_url" name="image_url">

    <br>

    <button type="submit">Submit</button>
  </form>

  <ul id="cupcake-list"></ul>

  <script src="https://unpkg.com/jquery"></script>
  <script src="static/models.js"></script>
  <script src="static/ui.js"></script>
</body>
</html>